*/bin/*
*/gen/*
*.project
*.classpath
.idea/**/*
!.idea/codeStyles/codeStyleConfig.xml
!.idea/codeStyles/Project.xml
captures/*
*.iml
*.ipr
*/target/*
*.settings
*/tmp/*
*/gen-external-apklibs/*
*.gradle/
*.hprof
reports/
build/*
*/build/*
*/classes/*
*/keytool/*
local.properties
.DS_Store
*.pyc
crashlytics-build.properties
com_crashlytics_export_strings.xml
*.apk
.*~
*~
.irb-history
spoon-output
report.json
.bundle/
vendor/bundle/

# react native
node_modules/